<nav class="navbar navbar-expand-lg" style="background-color: #D6E6DE;">
	<div class="container">
		<a class="navbar-brand" href="/og/resources">Opengargen</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link{% if page_title == 'resources_view' %} active{% endif %}" aria-current="page" href="{{ url_for('resources_view') }}">Resources</a>
				</li>
				<li class="nav-item">
					<a class="nav-link{% if page_title == 'config_view' %} active{% endif %}" aria-current="page" href="{{ url_for('config_view') }}">Config</a>
				</li>
			</ul>
		</div>
	</div>
</nav>